body {
    background-color: #e0f7f7;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #006d6d;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    border: 2px solid #006d6d;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 20%;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006666;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f0ffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.remove-btn {
    background-color: #006d6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 8px;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #004d4d;
}
